.header {
    position: fixed;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .2)
}
.back {
    /* composes: arraw from './Public.css'; */
    position: absolute;
    left: 1rem;
    top: .8rem;
}
.header span {
    display: inline-block;
    width: 100%;
    text-align: center;
}