 @import './config';
 
.home{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .banner img {
    width: 100%;
  }
  .content {
    flex: 1;
    @include flexCenter;
    flex-direction: column;
    font-size: 1.4rem;
    > div {
      margin: 1rem 0;
      width: 45%;
      text-align: center;
      span:first-child {
        margin-right: 1rem;
      }
    }
    .random {
      display: flex;
      justify-content: space-between;
      button {
        @include button;
        &:last-child {
          background-color: rgb(143,212,7);
          color: white;
        }
      }
      
    }
  }