.btn {
    padding: .8rem 1.8rem;
    border: none;
    border-radius: .3rem;
    outline: none;
}
.arraw {
    width: .8rem;
    height: .8rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(-45deg);
}
:global(.btn100) {
    height: 3rem;
    font-size: 1rem;
    background-color: rgba(255,255,255,.5);
    border: none;
    border-top: .5px solid rgba(0,0,0,.3);
    outline: none;
}